<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>To Do List app</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

    <!-- Open-iconic librarr -->
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">To Do List app</a>

            <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        {% if is_granted('USER_LIST') or is_granted('USER_CREATE') %}
            <a href="{{ path('user_list') }}" class="btn btn-success">Gérer les utilisateurs</a>
            <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>
        {% endif %}

        {% if app.user %}
                <a href="{{ path('logout') }}" class="btn btn-danger" id="logout">Se déconnecter</a>
            <h4>Vous êtes connecter en tant que {{ app.user.username }}.</h4>
        {% endif %}

        {% if not app.user and 'login' != app.request.attributes.get('_route') %}
            <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success" role="alert">
                    <strong>Superbe !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" role="alert">
                    <strong>Oops !</strong> {{ flash_message }}
                </div>
            {% endfor %}

            {% block header_title %}{% endblock %}
            {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}"
                                       alt="todo list">{% endblock %}
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<!-- /.container -->

<div class="container">

    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-right">Copyright &copy; OpenClassrooms</p>
            </div>
        </div>
    </footer>

</div>

{#<script src="{{ asset('js/jquery.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
